.ms-datepicker{
  .ms-date-panel{
    tbody{
      tr{
        td{
          text-align: center;
          vertical-align: middle;
          padding: {
            top:4px;
            bottom: 4px;
          };
          span{
            width: 20px;
            height: 20px;
            display: block;
            line-height: 18px;
          }
        }
      }
    }
  }
}