.ms-grid{
  .ms-grid-left{
    position: absolute;
    left: 0px;
    border: {
      right:1px #0001ff solid;
    };
  }
  .ms-grid-center{
    position: absolute;

  }

  table{
    &.ms-grid-head{
      margin: {
        bottom: 0px;
      };
      thead{
        tr{
          td{
            vertical-align: middle;
            border: {
              bottom: {
                width: 1px;
              };
            };
          }
        }
      }
    }
    tbody{
      tr{
        td{
          .ms-space{
            display: inline-block;
            width: 14px;
            height: 14px;
          }
        }
      }
    }
  }


}